[Unit]
Description=Scrub mounted btrfs devices to verify block checksums
Documentation=man:btrfs-scrub
After=fstrim.service

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c 'for i in $(grep " btrfs " /proc/mounts | cut -f1 -d" " | sort -fu); do echo "Scrubbing btrfs device $i :"; btrfs scrub start -Bd $i; done'
IOSchedulingClass=idle
CPUSchedulingPolicy=idle
Nice=19
